/* Write your CSS here */
.item-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px;
}
.text {
  margin-right: 80px;
  width: 400px;
}
.arrow {
  height: 30px;
  width: 30px;
}
